body
{
   max-width: 600px;
   margin: 0 auto;
   font-size: 30px;
   padding: 0 1em;
}

.dark-theme
{
   background-color: #000000;
   color: #FFFFFF;
}

.normal-theme
{
   background-image: url(5ae0c1c8a5260bc7b6648f6fbd115c35.jpg);
   background-size: 100%;
   color: #ff77ed;
}

.light-theme
{
   background-color: #FFFFFF;
   color: #000000;
}
audio
{
    width: 600px;
}
h2
{
    width: 1000px;
}
p
{
    text-align: center;
    width: 600px;
}