body
{
   max-width: 600px;
   margin: 0 auto;
   font-size: 30px;
   padding: 0 1em;
}

.dark-theme
{
   background-color: #000000;
   color: #FFFFFF;
}

.normal-theme
{
   background-image: url(5ae0c1c8a5260bc7b6648f6fbd115c35.jpg);
   background-size: 100%;
   color: #ff77ed;
}

.light-theme
{
   background-color: #FFFFFF;
   color: #000000;
}
audio
{
    position: center;
    width: 600px;
}
h2
{
    width: 1000px;
    text-align: center;
}
p
{
    text-align: center;
    width: 600px;
}
[class*="col-"] {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
   }