.navbar{ background:#ffffffe5;}
.nav-link , .navbar-brand{ color: #ccc9c9; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f400; color: #fc0808; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.bg-primary{background-color:#007bff!important;}
/*Стиль хедера*/
.header{
    background-image: url('../images/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 2000px;
    height: 2000px;
   }
